body,
body *  {
    padding: 0;
    margin:0;
    vertical-align: top;
    box-sizing: border-box;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
    position: relative;
}

footer {
    position: absolute; 
    font-size: 12px;
    bottom: 1vh;
    left: 1vh;
    width: 100%;
    height: 2.5rem;
}

footer a {
    text-decoration: none;
    color: hsl(218, 44%, 22%);
} 

footer a:hover {
    text-decoration: underline;
}